body {
    background-color: lightgray;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.calculator {
    cursor: pointer;
    width: 100%;
    font-family: "Arial", sans-serif;
    max-width: 500px;
    padding: 3%;
    margin: 40px auto;
    display: block;
    background-color: white;
    box-sizing: content-box
}

.output {
    width: 94%;
    text-align: right;
}

.history {}
.history__item {}

.btn {
    width: 110px;
    color: white;
    background-color: #555555;
    text-align: center;
    float: left;
    outline: none;
    border-radius: 8px;
    font-size: 12px;
    padding: 15px 32px;



}


.btn[data-type="operator"]
.btn[data-type="symbol"] {
    background-color: #333;
    
}

.btn[data-type="equal"] {
}

.btn:hover {
    opacity: 0.75;
}

