@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body {
    font-family: 'Staatliches', monospace;
    font-size: 20px;
    color: var(--text-color);
    background-color: var(--main-color);
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Goldman', cursive;
}

h2 {
    font-size: 2em;
    text-align: center;
    align-items: center;
    color: var(--text-color);
    border: 3px double #ef9273;
    border-radius: 50px;
}


h3 {
    font-size: 1em;
    padding: 20px 0px;
    text-align: center;
    align-items: center;
    border-radius: 25px;
    background: #ef9273;
    padding: 20px; 
    margin: 20px;
    height: 20;
    ;

}
h4 {
    font-size: 1.5em;
    padding-bottom: 20px;
}
hr.orange {
    border-top: 1px dotted #ef9273;
  }

p {
    color: var(--text-color);
    text-align: center;
    
}

section {
    padding: 0 20% 30px 20%;
}
em {
    color: var(--text-color);
    text-align: center;
}
li {
    color: var(--text-color);
    text-align: center; 
}
summary {
    color: var(--text-color);
    text-align: center;
}   