.hero {
    height: 500px;
    width: 100vw;
    left: -30px;
    position: relative;
    z-index: -1;
}

.hero__image {
    min-height: 390px;
    object-fit: cover;
    width: 100%;
    height: auto;
    max-width: 100%;
}

.hero__text-container {
    position: absolute;
    bottom: 140px;
    background-color:rgba(0,0,255,0.6);    
    color: white;
    text-align: center;
}

.hero__text {

    font-size: 20px;
    width: 100vw;
}
