p {
  display: block;
  color: var(--primary-color);
  font-family: 'Secular One', sans-serif;
  font-size: 90px;
  font-weight: bold;
  line-height: 1;
}

p+p {
  margin-top: 10px;
}

@media only screen and (max-width: 800px) {
  p {
    font-size: 66px;
    font-weight: 900;
    line-height: 1;
  }
}

li:first-child {
  margin-top: 0;
}

li:last-child {
  margin-bottom: 0;
}

li:nth-child(even) {
  text-align: right;
}

[data-reveal="content"] {
  display: inline-block;
  position: relative;
}

[data-reveal="cover"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: 1;
}

[data-reveal="text"] {
  opacity: 0;
}

[data-js="reveal"].loaded [data-reveal="cover"] {
  -webkit-animation: reveal-cover 1.5s ease-in-out;
  animation: reveal-cover 1.5s ease-in-out;
}

[data-js="reveal"].loaded [data-reveal="text"] {
  opacity: 1;
  -webkit-animation: reveal-text 1.5s ease-in-out;
  animation: reveal-text 1.5s ease-in-out;
}

@-webkit-keyframes reveal-cover {
  0% {
    width: 0;
    left: 0;
  }

  44% {
    width: 100%;
    left: 0;
  }

  54% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes reveal-cover {
  0% {
    width: 0;
    left: 0;
  }

  44% {
    width: 100%;
    left: 0;
  }

  54% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

@-webkit-keyframes reveal-text {
  0% {
    opacity: 0;
  }

  44% {
    opacity: 0;
  }

  54% {
    opacity: 1;
  }
}

@keyframes reveal-text {
  0% {
    opacity: 0;
  }

  44% {
    opacity: 0;
  }

  54% {
    opacity: 1;
  }
}