body * + * { margin-top: 1.5em;}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  min-height: 500px;
  background-color: grey;
  flex-flow: row wrap; /* sounds right */
  justify-content: space-around; /* sounds right */
  flex-shrink: 1;
}

.flex-container > div {
  background-color: lightgrey;
  margin: 10px;
  width: 75px;
  height: 75px;
  padding: 20px;
  font-size: 30px;
}

.flex-container .div1 {
  align-self:center;
  height: 100px;
}
.flex-container .div2 {
  align-self:center;
  height: 50px;
}
.flex-container .div3 {
  align-self:center;
  height: 300px;
}
.flex-container .div4 {
  align-self:center;
}
.div5, .div6, .div7 {
  align-self:flex-end;
}