
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');


body {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color:black;
    background-color:darkgrey;
  
}
    .about-me__contacts {
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        align-content: flex-end;
      }
      img {
          border-radius: 50%
      }
      .about-me__link { 
          padding-left: 5%;
        }
        .about-me__link {
            padding: 5%
        }
            .about-me__contact-btn {
            display: inline-block;
            padding: 5px 0px;
            font-size: 3vw;
            color: var(--accent-color);
            text-decoration: none;
            text-align: left;
        }
      