

:root {
	--righteous-font: 'Righteous', cursive;
}

body {
	background-image: url("https://i.ibb.co/GJMgNrV/download-2.jpg");
    min-height: 100vh;
    z-index: -10;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 1.3rem;		    
}

h1 {
    margin-bottom: 0px;
	font-family: var(--righteous-font);
}

p {
	margin-bottom: 10px;
	padding-bottom: 0px;
	font-family: var(--righteous-font); 
}


.container,
.list-group-item {
    display: flex;
    justify-content:space-between;
}

.container {
    padding: 100px 0px ;
    flex-direction: column;
}

.input-group {
    margin: 0 0 25px;
}

.form-check-input {
    cursor: pointer;
}

.task-text {
    margin: 0 1px;
    width: 70%;
    text-align: center;
}

.task-number {
    margin: 0 10px;
}

.form-check-input {
    width: 20px;
    height: 20px;
}
