@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body {
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    color: white;
    background-color: #0d2b29;
    margin: 0;
}


.header {
    padding: 20px 0;
    background-color: #2f605d;
    display: flex;
    justify-content: space-around;
}

.header__link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

