* {
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(148, 165, 121);
    font-family: 'Poppins', sans-serif;
}

.Saturs{
    color: rgb(242, 239, 239);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.Satura-link{
    display: flex;
    justify-content:space-around;
    width: 40%;
}

.Satura-link li{
    list-style: none;
}

.Satura-link a{
    color: rgb(242, 239, 239);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;
}

@media screen and (max-width:1024px){
    .Satura-link{
        width: 100%;
    }
}
