body{
    padding: 0px;
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: orange;
}

.header{
    padding: 0px 0px;
    margin: 0px;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
}

.header_link{
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    color: rgb(123, 124, 186);
    text-transform: uppercase;
    justify-content: flex-start;
}

* {
    margin: 10;
}
html, body{
    height: 100%;
}
.container div{
    display: flex;
    flex-direction: center;
}
.container div{
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: blueviolet;
}
button{
     color: blue;
    background-color: rgb(86, 154, 101);
}
   