@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

body{
    font-family: 'Roboto' !important;
    background: rgb(226,228,228);
    background: linear-gradient(90deg, rgba(226,228,228,1) 0%, rgba(127,127,224,1) 100%);
}

.container{
    margin-left: 1vw !important;
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: column;
}