@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

body {
    font-family: 'League Spartan';
    font-size: 20px;
    color: var(--text-color);
    background-color: var(--main-color);
}

h2 {
    padding: 20px 20px;
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    color: var(--accent-color);
}

h3 {
    font-size: 2em;
    padding: 20px 0px;
    text-transform: uppercase;
}
h4 {
    font-size: 1.5em;
    padding-bottom: 20px;
    text-transform: uppercase;
}

p {
    color: var(--text-color);
}

section {
    padding: 0 15% 30px 15%;
}